.vbox {
	-fx-background-color: rgb(0,0,0);
	-fx-effect: innershadow (gaussian, white, 10, 0.5, 0, 5);
}

.hbox {
	-fx-background-color: rgb(0,0,0);
	-fx-effect: innershadow (gaussian, white, 10, 0.5, 0, 5);
}

.button {
	-fx-position-shape: true;
	-fx-text-fill: white;
	-fx-font: 20px "sans-serif";
	-fx-background-color: #009933;
	-fx-effect: innershadow (three-pass-box, #33cc33,2, 0.0, 0, 1);
}

.button:hover {
	-fx-background-color: #00802b;
}

.button:pressed {
	-fx-background-color: #006622;
}
.slider {
	-fx-color: #009933;
	-fx-scale-x: 1;
}

.label {
	-fx-text-fill: white;
	-fx-font: 20px "sans-serif";
}

.background {
	-fx-background-image: url("backgroundtile.png");
	-fx-background-size: 200px, 200px;
	-fx-background-repeat: repeat;
}