.vbox {
	-fx-background-color: rgb(0,0,0);
	-fx-effect; innershadow (gaussian, white, 10, 0.5, 0, 5%);
}

.hbox {
	-fx-background-color: rgb(0,0,0);
	-fx-effect; innershadow (gaussian, white, 10, 0.5, 0, 5%);
}
.button {
	-fx-text-fill: white;
	-fx-font: 16px "sans-serif";
	-fx-background-color: #009933;
	-fx-effect; innershadow (gaussian, #33cc33, 10, 0.5, 0, 5%);

}
.background {
	-fx-background-image: url("backgroundtile.png");
	-fx-background-size: 200px, 200px;
	-fx-background-repeat: repeat;
}