.vbox {
	-fx-background-color: black;
}

.hbox {
	-fx-background-color: black;
	-fx-alignment: center;
}

.pane {
	-fx-hgap: 10px;
	-fx-vgap: 5px;
	-fx-padding: 10px;
	-fx-background-color: black;
}

.paneActive {
	-fx-hgap: 10px;
	-fx-vgap: 5px;
	-fx-padding: 10px;
	-fx-background-color: black;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-effect: dropshadow(three-pass-box, #00e64d, 20, 0, 0, 0);
}

.root {
	-fx-background-color: black;
}
.buttonIllegal {
	-fx-position-shape: false;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font: 20px "sans-serif";
	-fx-background-color: gray;
	-fx-effect: innershadow( gaussian , darkgray , 2, 0, 0, 4);
}
.buttonIllegal:hover {
	-fx-background-color: gray;
	-fx-effect: innershadow( gaussian , darkgray , 2, 0, 0, 4);
}

.buttonIllegal:pressed {
	-fx-background-color: gray;
	-fx-effect: innershadow( gaussian , darkgray , 2, 0, 0, 4);
}

.button {
	-fx-position-shape: false;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font: 20px "sans-serif";
	-fx-background-color: #009933;
	-fx-effect: innershadow( gaussian , #00e64d , 2, 0, 0, 4);
}

.buttonMenu {
	-fx-hgap: 10px;
	-fx-alignment: center;
}

.choice-box {
	-fx-position-shape: false;
	-fx-text-fill: white;
	-fx-font-weight: bold;
	-fx-font: 20px "sans-serif";
	-fx-background-color: #009933;
}
.choice-box .context-menu {
    -fx-background-color: #009933 ;
}

.button:hover {
	-fx-background-color: #00802b;
	-fx-effect: innershadow( gaussian , #00cc44 , 2, 0, 0, 4);
}

.button:pressed {
	-fx-background-color: #006622;
	-fx-effect: innershadow( gaussian , #003311 , 2, 0, 0, 4);
}
.slider {
	-fx-color: #009933;
	-fx-effect: innershadow( gaussian , #1aff66 , 2, 0, 0, 4);
}
.slider .thumb {
    -fx-background-color: #009933;
    -fx-size: 10;
}

.slider .thumb:hover {
	-fx-background-color: #00802b;
}

.slider .thumb:pressed {
	-fx-background-color: #006622;
}

.slider .track {
	-fx-background-color: #009933;
	-fx-effect: innershadow( gaussian , #1aff66 , 2, 0, 0, 3);
}

.label {
	-fx-text-fill: white;
	-fx-font: 20px "sans-serif";
}

.background {
	-fx-background-image: url("/floorTile.png");
	-fx-background-size: 200px, 200px;
	-fx-background-repeat: repeat;
}

.text-field {
	-fx-background-color: #00802b;
	-fx-text-fill: white;
	-fx-font-size: 20;
	-fx-alignment: center;
	-fx-prompt-text-fill: whitesmoke;
}